html {
    scroll-behavior: smooth;
    background-color: #f3f4f1;
}
body {
    font-family: nunito, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.6;
    /* On définit le curseur par défaut partout */
    cursor: url('./img/curseur.svg'), auto;
}

a, button, .navbar .clickable {
    cursor: url('./img/curseurpoint.svg'), pointer;
}

body:active {
    cursor: url('img/curseurpoint.svg'), auto;
}
.title.minibio{
    color: #0051FF;
    
}
.navbar{
    background-color: #f3f4f1;
}

h1.title{
    color: #0051FF;
}

.minibio{
    margin-top: 50px;
}
.calltoaction{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
}
footer{
    margin-bottom: 80px;
}
.profil{
    margin-top: 100px;
}
.icon{
    color: #0051FF;
    position: fixed;
    top: 0;
    z-index: 1000;
    margin-left: 50px;
    margin-top: 15px;
    width: 50px;
    height: 50px;
}

.petit{
    margin-top: 0;
}
.connection{
    color: rgb(255, 255, 255);
}
.sae{
    font-size: 35px;
    line-height: 0.9;
}
.card_navbar{
    width: 900px;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.btn {
    color: rgb(255, 255, 255);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    
}
.bouton{
    background-color: #0051FF;
}
.bouton:hover{
    background-color: #558bff;
}
.bouton:active{
    background-color: #9cbbff;
}
li a{
    text-decoration: underline;
    color: rgb(60, 60, 60);
}
.image_profile{
    width: 350px;
    height: 350px;
    margin-bottom: 10px;
}
.card_projet {
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    transition: max-height 0.7s ease-in;
}
.card_projet:hover {
    transition: max-height 0.7s ease-in-out;
    max-height: 800px;
}
.card_projet::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2em;
  background: linear-gradient(to bottom, rgba(255,255,255,0), #ffffffb2);
}
.card_formation{
    width: 800px;
}
.card-content_formation {
    max-height: 275px; 
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    transition: max-height 0.7s ease-in;  
}
.card-content_formation:hover {
    transition: max-height 0.7s ease-in-out;
    max-height: 800px;
    
}
.grid_formation.long::after {
content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2em;
  background: linear-gradient(to bottom, rgba(255,255,255,0), #ffffffb2);
}
.image-formation{
    width: 400px;
    height: 285px;
    border-radius: 15px ;
}
.card_engagement{
    max-width: 500px;
}
.card-content_engagement {
    max-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    transition: max-height 0.7s ease-in;
       
}
.card-content_engagement:hover {
    transition: max-height 0.7s ease-in-out;
    max-height: 800px;   
}
.card-content_engagement::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2em;
    background: linear-gradient(to bottom, rgba(255,255,255,0), #ffffffb2);
}
.centredinterets{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}
.interet{
    margin-top: 20px;
}
.card_contact{
    width: 773px;
    height: 300px;
}
.image_contact{
    display: block;
    width: 350px;
    height: 350px;
    float: right;
    border-radius: 999px;
}
.card-image_contact{
    display: block;
    border-radius: 999px;
}
li{
    list-style: none;
}
.card_competences {
    width: 220px;
    max-height: 170px; /* Ajustez la hauteur pour masquer une partie du texte */
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    transition: max-height 0.7s ease-in;
    
}
.card_competences:hover {
    transition: max-height  0.7s ease-in-out;
    max-height: 900px;
}
.card_competences::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2em;
    background: linear-gradient(to bottom, rgba(255,255,255,0), #ffffffb2);
}
.icon-competences{
   font-size: 90px;
   margin-top: 25px;
   margin-bottom: 15px;
    color: #0051FF;
}
